html, body
	margin: 0
	padding: 0

body
	-webkit-font-smoothing: antialiased
	color: #555
	background: #1496bb
	font-family: sans-serif
	text-align: center
	padding: 0

canvas
	margin: 0
	display: inline-block
	max-width: 100%
	max-height: 100%